#Server Configuration
PORT=       //your port 
NODE_ENV=      //development/production/testing
CLIENT_URL=    // frontendUrl

#DataBase Connection
MONGO_URI =     //Mongodb connnection string

#JWT secret key
SECRET_KEY = 

#cloudinary  values
API_KEY =        //your cloudinary key
CLOUD_NAME =    //your cloudinary name
API_SECRET  =     //your cloudinary secret